body{
background-color: paleturquoise;
margin: 0px;
}

h1{
background-color: black;
color: white;
border: yellow;
font-size: 50px;
font-weight: bold;
text-align: center;
}

.a{
    font-size: 50px;
    font-weight: bold;
    color: brown;
    background-color: white;

}

#a{
    background-color: whitesmoke;
    color: black;
    font-size: x-large;
    margin-top: 20px;
}

ul{
    list-style-type:circle;
    margin-left: 30px;
    padding: 10px;
    font-weight: bold;
    font-size: xx-large;
}

ul{
    list-style-type: square;
    margin-left: 20px;
    padding: 10px;
}

ol{
    list-style-type: upper-roman;
    margin-left: 40px;
    padding: 10px;
    font-size: xx-large;
    font-weight: bold;
}

ol{
    list-style-type: decimal;
    margin-left: 40px;
    padding: 10px;

}





